wpdls = {
		dashboard: {
		/** Dashboard font */
		// font: 'Arial'

		/** Dashboard background */
		background: #fff

		/** Generic text color */
		text: #000

		/** Links color */
		link: #777

		/** Admin bar & sidebar text color */
		menuText: #fff

		/** Admin bar & sidebar background color */
		navigation: #000

		/** Sidebar sub-menu background color */
		submenu: darken(#777, 50%)

		/** Sidebar sub-menu hover/active page color */
		highlight: #777

		/** Notification dot color */
		notification: #777

		/** Generic button colors */
		button: {
			background: #000
			color: #fff
		}
	}

	login: {
		// font: 'Arial'
		color: #fff
		background: {
			color: #000
			// image: '../images/path-to-img.jpg'
			size: cover
		}

		/* Custom logo - Optional, can be deleted */
		logo: {
			// image: '../images/login-logo.png'
			width: 145px
			height: 145px
		}

		/* Custom login alert - Optional, can be deleted  */
		alert: {
			background: #fff
			color: #000
			link: #fff
		}

		/* Custom button - Optional, can be deleted  */
		button: {
			background: #000
			color: #fff
		}

		/* Custom form - Optional, can be deleted  */
		form: {
			background: #fff
			color: #000
			borderRadius: 5px
			// padding: 0
			input: {
				background: #fff
				color: #000
			}
		}
	}
}
