@require 'mixins'

wpdlDashboard()
  @require 'partials/variables'
  @require 'partials/core'
  @require 'partials/admin-bar'
  @require 'partials/admin-menu'
  @require 'partials/forms'
  @require 'partials/links'
  @require 'partials/media'
  @require 'partials/pointers'
  @require 'partials/tables'
  @require 'partials/themes'
  @require 'partials/widgets'
  @require 'partials/misc'
  @require 'custom'
