// Constants
$default-color-transition = all .1s ease-in-out

// Variables setup
$body-background = wpdls.dashboard.background
$body-font = wpdls.dashboard.font or unquote('-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif')
$body-color = wpdls.dashboard.text
$text-color = wpdls.dashboard.menuText
$base-color = wpdls.dashboard.navigation

$link-color = wpdls.dashboard.link
$link-focus-color = makeContrast($link-color, 35%, $link-color)

$highlight-color = wpdls.dashboard.highlight
$highlight-text = invIfSimilar($text-color, $highlight-color)

$notification-color = wpdls.dashboard.notification

$button-background-color = wpdls.dashboard.button.background
$button-text-color = invIfSimilar(wpdls.dashboard.button.color, $button-background-color)

$icon-color = hsl(hue($base-color), 7%, 95%)
$form-checked-color = invIfSimilar($link-color, #fff)

$menu-submenu-background = makeContrast(wpdls.dashboard.submenu, 10%, $base-color)

// Customizer
$customizer-main-color = $link-color

// Admin menu & Admin bar
$menu-background = $base-color
$menu-highlight-text-opacity = .75
$menu-text = invIfSimilar($text-color, $menu-background)
$menu-icon = invIfSimilar($icon-color, $menu-background)

$menu-highlight-background = $highlight-color
$menu-highlight-text = invIfSimilar($text-color, $menu-highlight-background)
$menu-highlight-icon = invIfSimilar($text-color, $menu-highlight-background)

$menu-current-background = $menu-highlight-background
$menu-current-text = invIfSimilar($menu-highlight-text, $menu-current-background)
$menu-current-icon = invIfSimilar($menu-highlight-icon, $menu-current-background)

$menu-submenu-background-alt = desaturate(lighten($menu-background, 7%), 7%)

$menu-submenu-text = invIfSimilar($text-color, $menu-submenu-background)
$menu-submenu-highlight-icon = $menu-submenu-text
$menu-submenu-focus-text = $menu-submenu-highlight-icon
$menu-submenu-current-text = $menu-submenu-focus-text

$menu-bubble-background = $notification-color
$menu-bubble-text = invIfSimilar($text-color, $menu-bubble-background)

$menu-collapse-text = $menu-icon
$menu-collapse-icon = $menu-icon
$menu-collapse-focus-text = $text-color
$menu-collapse-focus-icon = $menu-highlight-icon

$adminbar-avatar-frame = lighten($menu-background, 7%)
$adminbar-input-background = lighten($menu-background, 7%)

$menu-customizer-text = mix($base-color, $text-color, 40%)
