/* Forms */
input[type=checkbox]:checked:before
	color: $form-checked-color

input[type=radio]:checked:before
	background: $form-checked-color

.wp-core-ui input[type="reset"]:hover
.wp-core-ui input[type="reset"]:active
	color: $link-focus-color
