/* List tables */
.wrap .add-new-h2
.wrap .page-title-action
.tablenav .tablenav-pages a
	color: $body-color
	&:hover
	&:focus
		color: $menu-text
		background-color: $menu-background

.view-switch a
	&.current
		&:before
			color: $menu-background

	&:hover
		&:before
			color: $menu-bubble-background
